.root{
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 3;
    -fx-border-insets: 5;
    -fx-border-radius: 7;
    -fx-border-color: #0c586b;
    -fx-background-radius: 7;
    -fx-background-insets: 5;
    -fx-background: #0c586b;
}

#text{
    -fx-font-size : 20px;
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Bitstream Charter";
}

#tray {
    -fx-padding: 1;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 1;
    -fx-border-color: black;
    -fx-background-color: darkGray;
}

#title {
    -fx-font-size : 50px;
    -fx-text-fill: lime ;
    -fx-font-family: "MathJax_Caligraphic";
}

#board-pane {
    -fx-border-style: solid inside;
    -fx-border-width: 0 0 0 0;
    -fx-border-insets: -6 0 0 0;
    -fx-padding: 2;
    -fx-border-color: black;
}

#tile-letter-text {
    -fx-font-size : 30px;
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Bitstream Charter";
}

#tile-letter-text-selected {
    -fx-font-size : 30px;
    -fx-fill: gold;
    -fx-font-weight: bold;
    -fx-font-family: "Bitstream Charter";
}
#tile-letter-text-3w{
    -fx-font-size : 30px;
    -fx-fill: red;
    -fx-font-weight: bold;
    -fx-font-family: "Bitstream Charter";
}
#tile-letter-text-2w{
    -fx-font-size : 30px;
    -fx-fill: hotpink;
    -fx-font-weight: bold;
    -fx-font-family: "Bitstream Charter";
}

#tile-letter-text-3l{
    -fx-font-size : 30px;
    -fx-fill: blueviolet;
    -fx-font-weight: bold;
    -fx-font-family: "Bitstream Charter";
}
#tile-letter-text-2l{
    -fx-font-size : 30px;
    -fx-fill: #006DFF;
    -fx-font-weight: bold;
    -fx-font-family: "Bitstream Charter";
}

#tile-points-text {
    -fx-padding: 0 5 0 0;
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Bitstream Charter";

}
#tile-points-text-selected {
    -fx-padding: 0 5 0 0;
    -fx-fill: gold;
    -fx-font-weight: bold;
    -fx-font-family: "Bitstream Charter";

}
#tile-points-text-3w {
    -fx-padding: 0 5 0 0;
    -fx-fill: red;
    -fx-font-weight: bold;
    -fx-font-family: "Bitstream Charter";

}

#tile-points-text-2w {
    -fx-padding: 0 5 0 0;
    -fx-fill: hotpink;
    -fx-font-weight: bold;
    -fx-font-family: "Bitstream Charter";

}

#tile-points-text-3l {
    -fx-padding: 0 5 0 0;
    -fx-fill: blueviolet;
    -fx-font-weight: bold;
    -fx-font-family: "Bitstream Charter";

}

#tile-points-text-2l {
    -fx-padding: 0 5 0 0;
    -fx-fill: #006DFF;
    -fx-font-weight: bold;
    -fx-font-family: "Bitstream Charter";

}

.reset-button{
    -fx-text-fill: #ff00f7;
    -fx-font-size: 25px;
    -fx-border-color: #ff00f7;
    -fx-border-radius: 20;
    -fx-background-color: #0c586b;

}

.reset-button:pressed{
    -fx-text-fill: #0c586b;
    -fx-font-size: 25px;
    -fx-border-color: #0c586b;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #ff00f7;
}

.reset-button:hover{
    -fx-scale-y: 1.02;
    -fx-scale-x: 1.02;
}

.play-button{
    -fx-text-fill: lime;
    -fx-font-size: 25px;
    -fx-border-color: lime;
    -fx-border-radius: 20;
    -fx-background-color: #0c586b;

}

.play-button:pressed{
    -fx-text-fill: #0c586b;
    -fx-font-size: 25px;
    -fx-border-color: #0c586b;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: lime;
}

.play-button:hover{
    -fx-scale-y: 1.02;
    -fx-scale-x: 1.02;
}

#score-num{
    -fx-font-size: 25px;
    -fx-text-fill: #28ffed;
}

#score{
    -fx-font-size: 14px;
    -fx-text-fill: #28ffed;
}